
<div class="navbar-header aside-md">
    <a class="btn btn-link visible-xs" data-toggle="" data-target="#nav,html"><i class="fa fa-bars"></i> </a>
    <a href="#" class="navbar-brand" data-toggle="fullscreen">
      <img src="imgs/soloBuhoB&W.png" class="mainIcon pull-left">
      <img src="imgs/MVA_OWLLogo_VersionSinIcono_B&W.png" class="mainLogo">
    </a>
    <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".nav-user"> <i class="fa fa-cog"></i> </a>
</div>
<div ui-view="app-userHeader"></div>
