
<div class="navbar-header aside-md">
    <a class="btn btn-link visible-xs" data-toggle="" data-target="#nav,html"><i class="fa fa-bars"></i> </a>
    <a href="#" class="navbar-brand" data-toggle="fullscreen">
      <img src="imgs/soloBuhoB&W.png" class="mainIcon pull-left">
      <img src="imgs/MVA_OWLLogo_VersionSinIcono_B&W.png" class="mainLogo">
    </a>
    <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".nav-user"> <i class="fa fa-cog"></i> </a>
</div>
<ul class="nav navbar-nav navbar-right m-n hidden-xs nav-user">
    <li class="hidden-xs">
        <a role="button" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-bell"></i> <span class="badge badge-sm up bg-danger m-l-n-sm count">3</span>
        </a>
        <section class="dropdown-menu aside-xl">
            <section class="panel bg-white">
                <header class="panel-heading b-light bg-light">
                  <strong>Tienes&nbsp;<span class="count">3</span>&nbsp;notificaciones</strong>
                </header>
                <div class="list-group list-group-alt animated  fadeInRight">
                  <a role="button" class="media list-group-item">
                    <span class="media-body block m-b-none">notificación 1<br>
                      <small class="text-muted">hace 1 minuto atrás</small>
                    </span>
                  </a>
                  <a role="button" class="media list-group-item">
                    <span class="media-body block m-b-none"> notificación 2<br>
                      <small class="text-muted">hace 1 hora atrás</small>
                    </span>
                  </a>
                </div>
                <footer class="panel-footer text-sm">
                  <a role="button" class="pull-right"><i class="fa fa-cog"></i></a>
                  <a role="button" data-toggle="fadeInRight">Ver todas las notificaciones</a>
                </footer>
            </section>
        </section>
    </li>

    <li class="dropdown">
        <a role="button" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user-circle-o"></i>
          </span> {{vm.user.username}} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu animated fadeInRight"> <span class="arrow top"></span>
            <li> <a role="button">Opciones</a> </li>
            <li> <a role="button">Perfil</a> </li>
            <li class="divider"></li>
            <li><a
                              ui-sref="app.logout()"
                              ng-class="{ active: vm.state.includes('app.logout')}"
                              role="button">
                              <i class="fa fa-dashboard icon"><b class="bg-videoAn"></b></i>
                              <span>Dashboard</span>
                            </a></li>
            <li> <a role="button" data-toggle="" ui-sref="app.logout()">Logout</a></li>
        </ul>
    </li>
</ul>
