
<header class="header navbar navbar-fixed-top-xs" ui-view="app-header">
  <div class="navbar-header aside-md">
      <a class="btn btn-link visible-xs" data-toggle="" data-target="#nav,html"><i class="fa fa-bars"></i> </a>
      <a href="#" class="navbar-brand" data-toggle="fullscreen">
        <img src="imgs/soloBuhoB&W.png" class="mainIcon pull-left">
        <img src="imgs/MVA_OWLLogo_VersionSinIcono_B&W.png" class="mainLogo">
      </a>
      <a class="btn btn-link visible-xs" data-toggle="dropdown" data-target=".nav-user"> <i class="fa fa-cog"></i> </a>
  </div>
</header>
</br>
<wrapper>
      <div class="row">
    <div class="col-md-4 col-md-offset-4 loginContent">
      <div class="panel">
        <div class="row">
          <h4 class="loginTitle h4">Inicie sesión</h4>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-12">
            <label>E-mail</label>
            <input name="username" type="text" class="form-control input-sm" required ng-model="vm.user.username">
            <div ng-messages="login.form.username.$error" ng-show="vm.form.username.$dirty">
                <div ng-message="required">Requerido</div>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-12">
            <label>Password</label>
            <input name="password" type="password" class="form-control input-sm" required ng-model="vm.user.password">
            <div ng-messages="login.form.password.$error" ng-show="vm.form.password.$dirty">
                <div ng-message="required">Requerido</div>
                <div ng-message="invalidLogin">{{vm.error}}</div>
            </div>
          </div>
        </div>
        <br/>
        <div class="row">
          <div class="col-md-6 col-md-offset-3 col-sm-12">
            <button class="btn btn-MVA form-control" ng-click="vm.login()"><b>Entrar</b> </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</wrapper>
