<a class="active">
  <i class="fa fa-filter icon">
    <b class="bg-filter"></b>
  </i>
  <span class="pull-right">
    <i class="fa fa-angle-down text"></i>
    <i class="fa fa-angle-up text-active"></i>
  </span>
  <span>Filtros</span>
</a>
<ul class="nav lt">
  <li class="filterContent">
    <form>  

      <div class="form-group">       
          <div class="input-group">
            <span class="input-group-addon" data-toggle="tooltip" title="Locacion">
              <i class="fa fa-map"></i>
            </span>
            <select class="form-control input-sm" ng-model="vm.filters.location">
              <option value="1">Locacion 1</option>
            </select>
          </div>
      </div>

      <div class="form-group">
        <!--<label></label>-->
        <div class="input-group">
          <span class="input-group-addon" data-toggle="tooltip" title="Cámara">
            <i class="fa fa-video-camera"></i>
          </span>
          <select class="form-control input-sm" ng-model="vm.filters.camara">
            <option value="1">1</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <!--<label></label>-->
        <div class="input-group">
          <span class="input-group-addon" data-toggle="tooltip" title="Fecha Desde">
            <i class="fa fa-calendar-minus-o"></i>
          </span>
          <input class="form-control input-sm" ng-model="vm.filters.fechaDesde"/>
        </div>
      </div>

      <div class="form-group">
        <!--<label></label>-->
        <div class="input-group">
          <span class="input-group-addon" data-toggle="tooltip" title="Fecha Hasta">
            <i class="fa fa-calendar-plus-o"></i>
          </span>
          <input class="form-control input-sm" ng-model="vm.filters.fechaHasta"/>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-MVA btn-sm"  ng-click="vm.filter()">Filtrar!</button>
      </div>

    </form>
  </li>
</ul>
