
.btn-MVA {
    color: #fff;
    background-color: #2F4777;
    border-color: #2F4777;
}

.btn-MVA:hover {
    color: #fff;
    background-color: #4053A4;
    border-color: #4053A4;
}


.btn-MVA.focus, .btn-MVA:focus, .btn-MVA:hover{
    color: #fff;
}


.btn {
  font-weight: 500;
  border-radius: 2px;
}
.btn-icon {
  padding-left: 0;
  padding-right: 0;
  width: 34px;
  text-align: center;
}
.btn-icon.btn-sm {
  width: 30px;
}
.btn-icon.btn-lg {
  width: 45px;
}
