
.footer {
  min-height: 50px;
  padding: 0 15px;
}
.footer > p {
  margin-top: 15px;
  display: inline-block;
}
.footer > .btn,
.footer > .btn-group,
.footer > .btn-toolbar {
  margin-top: 10px;
}

.footer > .btn-lg {
  margin-top: 0;
}

.footer .nav-tabs {
  border: none;
  margin-left: -15px;
  margin-right: -15px;
}

.footer .nav-tabs > li a {
  border: none !important;
  border-radius: 0;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
}

.footer .nav-tabs > li a:hover,
.footer .nav-tabs > li a:focus {
  background-color: transparent;
}

.footer .nav-tabs > li.active a {
  color: #717171;
}

.footer .nav-tabs > li.active a,
.footer .nav-tabs > li.active a:hover {
  background-color: #f7f7f7;
}

.footer .nav-tabs.nav-white > li.active a,
.footer .nav-tabs.nav-white > li.active a:hover {
  background-color: #fff;
}

.footer.navbar {
  min-height: 0;
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  padding: 0;
}
