
.menulateral{
    background-color: #fff;

    -moz-transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.menuLateral>footer{
    border-top: 1px solid #e6e6e6;
}

.nav-xs{
  -moz-transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.bg-videoAn{
  background-color: #6586C4;
}

#collapse_menu{
  background-color: #2F4777;
  color: #fff;
}

.nav-xs .nav-primary > ul > li > a:hover i{
  color:#2e3e4e;
}

.nav-primary li > a:focus > i {
  color:#fff;
}

.nav-xs .bg-videoAn{
  background-color: transparent;
}


.nav-primary {
  border-bottom: 1px solid rgba(255,255,255,0.05);
}
.bg-light .nav-primary {
  border-bottom: 1px solid #e9e9e9;
}
.nav-primary li {
  line-height: 1.5;
}
.nav-primary li > a > i {
  margin: -12px -15px;
  line-height: 41px;
  width: 44px;
  float: left;
  margin-right: 10px;
  font-size: 14px;
  border-right: 1px solid rgba(255,255,255,0.05);
  text-align: center;
  position: relative;
  overflow: hidden;
}
.nav-primary li > a > i:before {
  position: relative;
  z-index: 2;
}
.nav-primary li > a > i > b {
  position: absolute;
  left: -42px;
  width: 100%;
  top: 0;
  bottom: 0;
  z-index: 0;
  -webkit-transition: left .25s;
  transition: left .25s;
}

.nav-primary li > a:hover > i {
  color:#FFF;
}

.nav-primary ul.nav > li > a {
  padding: 11px 15px;
  position: relative;
  font-weight: bold;
  font-size: 12px;
  border-top: 1px solid transparent;
  border-color: rgba(255,255,255,0.05);
  transition: color .3s ease-in-out 0s;
}
.no-borders .nav-primary ul.nav > li > a {
  border-width: 0 !important;
}
.nav-primary ul.nav > li > a > .badge {
  font-size: 11px;
  padding: 3px 6px;
  margin-top: 2px;
}
.bg-light .nav-primary ul.nav > li > a {
  color: #717171 !important;
  border-color: #ececec;
}
.bg-light .nav-primary ul.nav > li > a > i {
  color: #a4a4a4;
  border-right: 1px solid #ececec;
}
.nav-primary ul.nav > li > a.active .text {
  display: none;
}
.nav-primary ul.nav > li > a.active .text-active {
  display: inline-block !important;
}

.nav-primary ul.nav > li:hover > a,
.nav-primary ul.nav > li:focus > a,
.nav-primary ul.nav > li > a:hover,
.nav-primary ul.nav > li > a:focus,
.nav-primary ul.nav > li > a:active,
.nav-primary ul.nav > li.active > a {
  background-color: inherit;
  background-color: #ddd !important;
  text-shadow: none;
}


.nav-primary ul.nav > li:hover > a > i.icon,
.nav-primary ul.nav > li:focus > a > i.icon,
.nav-primary ul.nav > li > a:hover > i.icon,
.nav-primary ul.nav > li > a:focus > i.icon,
.nav-primary ul.nav > li > a:active > i.icon,
.nav-primary ul.nav > li.active > a > i.icon {
  color: #fff !important;
}
.nav-primary ul.nav > li:hover > a > i > b,
.nav-primary ul.nav > li:focus > a > i > b,
.nav-primary ul.nav > li > a:hover > i > b,
.nav-primary ul.nav > li > a:focus > i > b,
.nav-primary ul.nav > li > a:active > i > b,
.nav-primary ul.nav > li.active > a > i > b {
  left: 0 !important;
}
.nav-primary ul.nav > li li a {
  font-weight: normal;
  text-transform: none;
  font-size: 13px;
}
.nav-primary ul.nav > li.active > ul {
  display: block;
}
.nav-primary ul.nav ul {
  display: none;
}
@media (min-width: 768px) {
  .visible-nav-xs {
    display: none;
  }
  .nav-xs {
    width: 60px;
  }
  .nav-xs .slimScrollDiv,
  .nav-xs .slim-scroll {
    overflow: visible !important;
  }
  .nav-xs .slimScrollBar,
  .nav-xs .slimScrollRail {
    display: none !important;
  }
  .nav-xs .scrollable {
    overflow: visible;
  }
  .nav-xs .nav-primary > ul > li > a {
    position: relative;
    padding: 0;
    font-size: 10px;
    text-align: center;
    height: 60px;
    overflow-y: hidden;
    border: none;
  }

  .nav-xs .nav-primary > ul > li > a span {
    /*color: #fff !important;*/
    display: table-cell;
    vertical-align: middle;
    height: 60px;
    width: 60px;
    position: relative;
    z-index: 2;
  }
  .nav-xs .nav-primary > ul > li > a span.pull-right {
    display: none !important;
  }
  .nav-xs .nav-primary > ul > li > a i {
    width: auto;
    float: none;
    display: block;
    font-size: 18px;
    margin: 0;
    line-height: 60px;
    border: none !important;
    overflow: visible;
    -webkit-transition: margin-top 0.2s;
    transition: margin-top 0.2s;
  }
  .nav-xs .nav-primary > ul > li > a i b {
    left: 0 !important;
    -webkit-transition: top 0.2s;
    transition: top 0.2s;
  }
  .nav-xs .nav-primary > ul > li > a .badge {
    position: absolute;
    right: 6px;
    top: 4px;
    z-index: 3;
  }
  .nav-xs .nav-primary > ul > li:hover > a i,
  .nav-xs .nav-primary > ul > li:focus > a i,
  .nav-xs .nav-primary > ul > li:active > a i,
  .nav-xs .nav-primary > ul > li.active > a i {
    margin-top: -60px;
  }
  .nav-xs .nav-primary > ul > li:hover > a i b,
  .nav-xs .nav-primary > ul > li:focus > a i b,
  .nav-xs .nav-primary > ul > li:active > a i b,
  .nav-xs .nav-primary > ul > li.active > a i b {
    height: 60px;
    top: 60px;
  }
  .nav-xs .nav-primary > ul ul {
    display: none !important;
    position: absolute;
    left: 100%;
    top: 0;
    z-index: 1050;
    width: 220px;
    -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    border: 1px solid #ddd;
    border: 1px solid rgba(0,0,0,0.1);
    background-clip: padding-box;
  }
  .nav-xs .nav-primary li:hover > ul,
  .nav-xs .nav-primary li:focus > ul,
  .nav-xs .nav-primary li:active > ul {
    display: block !important;
  }
  .nav-xs.nav-xs-right .nav-primary > ul ul {
    left: auto;
    right: 100%;
  }
  .nav-xs > .vbox > .header,
  .nav-xs > .vbox > .footer {
    padding: 0 15px;
  }
  .nav-xs .hidden-nav-xs {
    display: none;
  }
  .nav-xs .visible-nav-xs {
    display: inherit;
  }
  .nav-xs .nav-user {
    padding: 12px 0;
  }
  .nav-xs .nav-user .avatar {
    float: none !important;
    margin-right: 0;
  }
  .nav-xs .nav-user .dropdown > a {
    display: block;
    text-align: center;
  }
  .nav-xs .navbar-header {
    float: none;
  }
  .nav-xs .navbar-brand {
    display: block;
    padding: 0;
  }
  .nav-xs .navbar-brand img {
    margin-right: 0;
  }
  .nav-xs .navbar {
    padding: 0;
  }
}
@media (max-width: 767px) {
  .navbar-fixed-top-xs {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 1100;
  }
  .navbar-fixed-top-xs + * {
    padding-top: 50px;
  }
  html,
  body {
    min-height: 100%;
    overflow-x: hidden;
  }
  .open,
  .open body {
    height: 100%;
  }
  .nav-primary .dropdown-menu {
    position: relative;
    float: none;
    left: 0;
    margin-left: 0;
    padding: 0;
  }
  .nav-primary .dropdown-menu a {
    padding: 15px;
    border-bottom: 1px solid #eee;
  }
  .nav-primary .dropdown-menu li:last-child a {
    border-bottom: none;
  }
  .navbar-header {
    text-align: center;
  }
  .nav-user {
    margin: 0;
    padding: 15px;
  }
  .nav-user.open {
    display: inherit !important;
  }
  .nav-user .dropdown-menu {
    display: block;
    position: static;
    float: none;
  }
  .nav-user .dropdown > a {
    display: block;
    text-align: center;
    font-size: 18px;
    padding-bottom: 10px;
  }
  .nav-user .avatar {
    width: 160px !important;
    float: none !important;
    display: block;
    margin: 20px auto;
    padding: 5px;
    background-color: rgba(255,255,255,0.1);
    position: relative;
  }
  .nav-user .avatar:before {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
    border: 4px solid #fff;
    border-radius: 500px;
  }
  .nav-off-screen {
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 75%;
    visibility: visible;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
  .nav-off-screen .nav-primary {
    display: block !important;
  }
  .nav-off-screen .navbar-fixed-top-xs {
    width: 75%;
  }
  .nav-off-screen.push-right .navbar-fixed-top-xs {
    left: 25%;
  }
  .nav-off-screen.push-right {
    left: auto;
    right: 0;
  }
  .nav-off-screen.push-right + * {
    -webkit-transform: translate3d(-75%,0px,0px);
    transform: translate3d(-75%,0px,0px);
  }
  .nav-off-screen + * {
    background-color: #f7f7f7;
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    -moz-transition: -moz-transform 0.2s ease-in-out;
    -o-transition: -o-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transform: translate3d(0px,0px,0px);
    transform: translate3d(0px,0px,0px);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(75%,0px,0px);
    transform: translate3d(75%,0px,0px);
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }
  .nav-off-screen + * .nav-off-screen-block {
    display: block !important;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1950;
  }
  .navbar + section .nav-off-screen {
    top: 50px;
  }
  .navbar + section .nav-off-screen + * {
    top: 50px;
  }
  .slimScrollDiv,
  .slim-scroll {
    overflow: visible !important;
    height: auto !important;
  }
  .slimScrollBar,
  .slimScrollRail {
    display: none !important;
  }
}
