
.panel{
  padding: 10px;
  margin-bottom: 0px;
  border-radius: 0px;
}

.panelScroll{
  height: auto !important;
  overflow-y: auto;
  overflow-x: hidden;
}


.panel1Container{
  @media (min-width:992px){padding-right: 10px;}

  -webkit-transition: width 0.5s;
   transition: width 0.5s;
}

.panel2Container{
  @media (min-width:992px){padding-right: 10px;padding-left: 0px;}
}

.panel3Container{
  @media (min-width:992px){padding-left: 0px;}

  -webkit-transition: width 0.5s;
   transition: width 0.5s;
}


@media (max-width:992px){
  .panel{
    margin-bottom: 10px;
  }

  .affix{
    position: inherit;
  }

}


.peopleInContainer:nth-child(1) .peopleIn
,.relatedVideoContainer:nth-child(1) .videoIn{
  margin-top: 0px;
  margin-bottom: 5px;
}

.peopleIn, .videoIn{
  padding:5px 5px 5px 5px;
  margin:5px -11px 5px -11px;
  cursor:pointer !important;
}

.peopleInTitle span{
    color: #383838;
    font-size: 14px;
    font-weight: bold;
}

.peopleInDesc{
  margin-top:5px;
}


.peopleInDesc .row, .peopleInTitle{
  margin-left: 0px;
  margin-right: 0px;
}


.peopleInContainer, .relatedVideoContainer{
  .active{
    background-color: #ddd;
  }
}

.imgContainer{
  padding: 8px 0px 5px 0px;
}
