
.panel{
  padding: 10px;
  /*max-height: 100%;
  height: 100%;*/
  margin-bottom: 0px;
  border-radius: 0px;
}

.panelScroll{
  height: auto !important;
  overflow-y: auto;
  overflow-x: hidden;
  /*position: absolute;*/
}


.panel1Container{
  @media (min-width:992px){padding-right: 10px;}

  -webkit-transition: width 0.5s;
   transition: width 0.5s;

/*  .panel{
    -webkit-transition: width 0.5s;
     transition: width 0.5s;
  }*/
}
.panel2Container{
  @media (min-width:992px){padding-right: 10px;padding-left: 0px;}

  .panel{
    -webkit-transition: width 0.5s;
     transition: width 0.5s;
  }
}
.panel3Container{
  @media (min-width:992px){padding-left: 0px;}
}




@media (max-width:992px){
  .panel{
    margin-bottom: 10px;
  }

  .affix{
    position: inherit;
  }

  .panelScroll{
    position: inherit;
  }
}
