<section class="vbox">

    <section class="w-f scrollable">
        <div class="slimScrollDiv">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
                <!-- nav -->
                <nav class="nav-primary hidden-xs">
                    <ul class="nav">
                        <li class="active">
                            <a href="dashboard.html" class="active">
                              <i class="fa fa-dashboard icon"><b class="bg-videoAn"></b></i>
                              <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a href="app.html">
                              <i class="fa fa-video-camera"><b class="bg-videoAn"></b></i>
                              <span>Análisis de video</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                              <i class="fa fa-smile-o"><b class="bg-videoAn"></b></i>
                              <span>Análisis de personas</span>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- / nav -->
            </div>
        </div>
    </section>

    <footer class="footer lt hidden-xs b-t">
      <a id="collapse_menu" class="pull-right btn btn-sm btn-icon">
        <i class="fa fa-angle-left text"></i>
        <i class="fa fa-angle-right text-active"></i>
      </a>
    </footer>

</section>
