<section class="vbox">

    <section class="w-f scrollable">
        <div class="slimScrollDiv">
            <div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
                <!-- nav -->
                <nav class="nav-primary hidden-xs">
                    <ul class="nav">
                        <li>
                            <a
                              ui-sref="app.dashboard()"
                              ng-class="{ active: vm.state.includes('app.dashboard')}"
                              role="button">
                              <i class="fa fa-dashboard icon"><b class="bg-videoAn"></b></i>
                              <span>Dashboard</span>
                            </a>
                        </li>
                        <li>
                            <a
                              ui-sref="app.analysisVideo()"
                              ng-class="{ active: vm.state.includes('app.analysisVideo')}"
                              role="button">
                              <i class="fa fa-video-camera"><b class="bg-videoAn"></b></i>
                              <span>Análisis de video</span>
                            </a>
                        </li>
                        <li>
                            <a
                              ui-sref="app.analysisPeople()"
                              ng-class="{ active: vm.state.includes('app.analysisPeople')}"
                              role="button">
                              <i class="fa fa-smile-o"><b class="bg-videoAn"></b></i>
                              <span>Análisis de personas</span>
                            </a>
                        </li>
                        <li ui-view="filter" class="active"></li>
                    </ul>
                </nav>
                <!-- / nav -->
            </div>
        </div>
    </section>

    <footer class="footer lt hidden-xs b-t">
      <a id="collapse_menu" class="pull-right btn btn-sm btn-icon">
        <i class="fa fa-angle-left text"></i>
        <i class="fa fa-angle-right text-active"></i>
      </a>
    </footer>

</section>
